<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyk.coursearrange.dao.StudentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyk.coursearrange.entity.Student">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="user_type" property="userType" />
        <result column="teacher_id" property="teacherId" />
        <result column="total_hours" property="totalHours" />
        <result column="completed_hours" property="completedHours" />
        <result column="course_remark" property="courseRemark" />
        <result column="student_remark" property="studentRemark" />
        <result column="avatar" property="avatar" />
        <result column="description" property="description" />
        <result column="deleted" property="deleted" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
